<div id="page">
	<div id="23375313">
		<section class="profile">
			<div class="inner">
				<div class="profile-main">
					<aside class="cover-side">
						<div class="cover">
							<img src="http://10.100.12.159:3000/images/{{bookBrief.bookcover}}">
						</div>
					</aside>
					<h2>{{bookBrief.bookname}}</h2>
					<h4>{{bookBrief.booksubtitle | isNotEmpty}}</h4>
					<div class="rating">
						<span class="stars-context stars-4">
							<span class="stars-active"></span>
						</span>
						<span class="score">{{bookBrief.bookscore}}</span>（410人评价）
					</div>
					<div class="meta">
						<div class="author">{{bookBrief.bookauthor}}</div>
						<div class="category">{{bookBrief.booktype}}</div>
						<div class="publishing"></div>万卷出版公司 / 2009-07
						<div class="words-num">约 57,000 字</div>
					</div>
				</div>
			</div>
		</section>
		<div class="profile-main">
			<div class="pre-release-actions-container"></div>
			<div class="reading-actions-container">
				<div class="reading-actions">
					<div class="section-buttons">
						<span class="btn-wrapper btn-wrapper-read">
							<a href="/reader/ebook/23375313" class="btn btn-read">
								<i class="icon-read"></i>
								<span class="btn-text">阅读</span>
							</a>
						</span>
						<span class="btn-wrapper btn-wrapper-share">
							<a href="javascript:;" class="btn btn-share">
								<i class="icon-share"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
			<div class="purchase-actions-container">
				<div class="purchase-actions">
					<div class="price-section ">
						<div class="price-wrapper">
							<div class="price">￥6.50</div>
						</div>
						<div class="btn-wrapper">
							<a href="javascript:;" class="btn-purchase">
								<i class="mobileicon-purchase"></i>
								<span class="btn-text">购买</span>
							</a>
						</div>
						<div class="btn-wrapper">
							<a href="javascript:;" class="btn-gift">
								<i class="mobileicon-gift"></i>
								<span class="btn-text">赠送</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="gift-event-container"></div>
			<section class="intro">
				<div class="inner">
					<div class="hd"><h3>简介</h3></div>
					<div class="bd collapsed-box">
						<div class="abstract">
							<p>{{bookBrief.booksummary}}</p>
						</div>
						<!-- <div class="full">
							<div class="info">
								<p>
									都江堰鱼嘴在元朝时代是铁牛与铁乌龟，如今不知所终。据说元代治水专家曾用6万斤铁铸成了两只头部相并、屋部分开的铁乌龟用做鱼嘴，明代还用1万多斤铁铸了一只铁牛用做鱼嘴。但后来铁牛和铁乌龟都都被江水冲走了。1990年枯水期时，都江堰文物管理局邀请了相关专家到都江堰内江等地勘探铁牛、铁乌龟的方位。专家的勘探器所到之处，仪器若出现红色的信号，即表示此处有金属存在，但经勘探却没有发现铁牛、铁龟。铁牛和铁龟的去向成了千古之谜。在寻找都江堰中明代铸造的铁牛时，技术人员林翠却迷失了自己。她身在此世，其记忆和言行却仿佛来自另一个世界。那么原来的林翠哪里去了，会有不同的可能世界、不同的林翠吗？如果一个她突然变成了另一个世界的林翠，那多某一天也需要找回原来的自己吗？
								</p>
							</div>
							<div class="info">
								<p>
									那多，曾经是一名国家公务员，后来因为对睡懒觉的迫切生理需要，跳槽到了媒体，成为一名记者，终于等到懒觉睡厌的时候，开始对记者这项最自由的工作感到不自由，终于辞职在家一心写作。由于向来想象力丰富，夜晚穿梭在梦境与梦境之间，一切真实在那多脑中都会形成奇幻的映射，而新闻记者写文章却必须以事实为依据，一丝不苟，剧烈的反差终于在某一天找到突破口，火山般喷发出来，结成一个个的故事。
								</p>
								<p>
									新奇的幻境在那多脑中不断形成，有的荒诞而搞笑，于是有了《三国事件薄》；有的神秘而诡异，于是有了《那多手记》；有的在宿命中有着令人回肠的爱情，于是有了《星座爱情小说》，那多变幻着角色，在各个幻境间跳跃，不亦乐乎。对许多一辈子只有一两次风格突变甚至一个风格到老的作家来说，是不可思议的，而对那多，却是天赋本能，信手拈来。
								</p>
								<p>
									那多对自己的作品只有一个要求——好看。无心追求在文学史上有何建树，对他来说，只要读者觉得好看，就已经足够。
								</p>
							</div>
						</div> -->
						<div class="expand-all"></div>
					</div>
				</div>
			</section>
			<section class="toc">
				<div class="inner">
					<div class="hd"><h3>目录</h3></div>
					<div class="bd">
						<div class="toc-box">
							<div class="collapsed-box">
								<ul class="list-toc">
									<li class="">Chapter 0 楔子</li>
									<li class="">Chapter 01 破土</li>
									<li class="">Chapter 02 乱流</li>
									<li class="">Chapter 03 回峰</li>
									<li class="">Chapter 04 歧路</li>
									<li class="">Chapter 05 异遇</li>
									<li class="more">Chapter 06 尾声</li>
								</ul>
								<div class="expand-all"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="tags">
				<div class="inner">
					<div class="hd"><h3>标签</h3></div>
					<div class="bd">
						<ul class="list list-tags">
							<li class="tag-item"><a href="/tag/小说/" data-permalink="data-permalink">{{bookBrief.booktip}}</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="author-section">
				<div class="inner">
					<div class="hd"><h3>出版方</h3></div>
					<div class="bd is-agency">
						<div class="col-media">
							<a href="https://read.douban.com/provider/63687157/" data-permalink="data-permalink">
								<div class="cm-left avatar">
									<div class="avatar-wrap">
										<img src="https://img1.doubanio.com/view/ark_agent_avatar/small/public/82d7bd5d249d518.jpg">
									</div>
								</div>
								<div class="cm-body">
									<div class="name">果麦文化</div>
								</div>
							</a>
						</div>
						<div class="collapsed-box">
							<div class="author-intro">
								<p>杭州果麦文化传媒有限公司由出版人路金波先生及骨干员工发起设立。</p>
								<p></p>
								<p>果麦文化与作家韩寒、安妮宝贝、冯唐、严歌苓、安意如等，学者易中天、李继宏、赵闯、骆玉明等有密切合作。</p>
							</div>
						</div>
						<div class="agent-more-works">
							<a href="https://read.douban.com/provider/63687157/" data-permalink="data-permalink" class="btn btn-more">
								<i class="icon-list"></i>共 210 部
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="reviews more-reviews">
				<div class="inner">
					<div class="hd"><h3>读者评论</h3></div>
					<div class="bd">
						<section class="list more-works list-reviews">
							<ul class="works-list">
								<p class="empty-list">还没有读者评论</p>
							</ul>
							<div class="list-more">点击加载更多</div>
						</section>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>