<div class="page" data-pagination="2">
	<div class="bd">
		<div style="height:9em" class="info">
			<h1>把式</h1>
			<div class="author">
				<span class="orig-author"> 宋林峰 </span>
			</div>
		</div>
		<div class="content">
			<p data-pid="415363650" class="paragraph left " depth="" group-item-num="">
				<dfn>
					要说这李家寨，最俊的还是秀秀。
				</dfn>
			</p>
			<p data-pid="415363652" class="paragraph left " depth="" group-item-num="">
				<dfn>
					我奶奶前几天和我提起这话，我说不看哪知道呀，寻思着去瞅瞅秀秀长啥样。奶奶叱了我一句，看啥看，再看也没你的份！我气不过，偷偷跑出来，跑到秀秀家门口，咚咚咚敲了三下，喊：秀秀，秀秀，你出来，让俺瞧瞧你长啥样么！没人开门，我就蹲在门口等。一只大黄狗跑来舔我的脚，弄得我痒痒，我就捡了半块砖撂过去，那狗呜嗷一声僵硬地倒地不起。不开门，我就等，等到你开门为止。风吹着一片树叶落在我脸上，抬头一看是街门旁边的一棵枯死的老榆树。这好好的树怎么就枯死了？
				</dfn>
			</p>
			<p data-pid="415363654" class="paragraph left " depth="" group-item-num="">
				<dfn>
					我循着那树往上看，在一股粗壮的树枝上站了一个女人，我问她你是秀秀吗？她说她就是秀秀。我说你怎么爬上树了？秀秀让我也爬上去陪她说话。我就爬了上去，我仔细一看，秀秀血红的长舌头就要来勾我，妈呀！我叫了一声，屁滚尿流地跑回了家，躲在炕洞里蜷了三天三夜。奶奶请来李东生问这是咋回事，李东生摸摸我的额头说可能是惊吓过度。我逮着李东生的手就死咬住不放，我听见他手指头嘎嘣嘎嘣地响，脸上狰狞地鬼哭狼嚎……李东生费了好大的劲儿才从我的嘴里拔出他那只手来，用块毛巾草草包扎了一下，对奶奶说，秀秀死了。奶奶问咋死的，李东生说他也不知道，还没来得及去看，就被叫到这儿来。他还问我的病好点了没有，怎么最近又疯疯癫癫的了。奶奶没有回他，兀自叹气。我看见奶奶眼角有泪，顺着脸上的皱纹淌，哗啦啦的声音就来了。
				</dfn>
			</p>
		</div>
	</div>
</div>