body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  background-color: #f2f2f2;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #181818;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

.ui-wrap{
	min-width: 320px;
	margin: 0 auto;
}
select{background: none;-webkit-appearance: none;border:none;}
.dyq-header{
    width: 100%;
    height:4.4rem;
    line-height: 4.4rem;
    position: relative;
    display: -webkit-box;
    -webkit-box-pack:justify;
    color: #fff;
    background:#474e5c;
    font-size:1.7rem;
    padding: 0 1rem;
    box-sizing: border-box;
}
.dyq-header .ui-title{
	position: absolute;width:100%;height: 100%;
	top:0;left:0;
    line-height:4.4rem;
    text-align: center;
    z-index: 0;
}
.dyq-header a,.dyq-header button{position:relative;color:#fff;display: block;z-index: 1;}
.dyq-header a.ui-close{position: absolute;left:4rem;}
a.ui-back{width: 4rem;height:100%;left:-1rem;}
a.ui-back:before{content:"";position:absolute;left:1rem;top:50%;width:0.9rem;height:1.6rem;margin-top: -0.8rem;
background:url(../images/sprit1.png) no-repeat -15rem 0;background-size:45rem auto;}
a.ui-search{width: 3rem;height:100%;right:-1rem;}
a.ui-search:before{content: "";position: absolute;top:50%;right:1rem;margin-top:-1.05rem;
width:2.1rem;height: 2.1rem;background:url(../images/sprit1.png) no-repeat -10rem 0;background-size:45rem auto;}
.heigh20{height: 1rem;background: #f5f5f5;}
.heigh10{height: 0.5rem;background: #f5f5f5;}
.bgwhite{background: #fff;}
.bgbuff{background: #fffaeb;}/*浅黄色*/
.colblue{color:#fffaeb;}/*蓝色字*/
.colred{color:#f65d4d;}/*红色字*/
.orange{color:#ff8100;}
.colblue{color:#36d5c6;}
.font13{font-size: 1.3rem;}
.font14{font-size: 1.4rem;}
.font15{font-size: 1.5rem;}
.font16{font-size: 1.6rem;}
.col555{color: #555;}
.col666{color: #666;}
.col999{color: #999;}
.mb20{margin-bottom: 1rem;}
.mb10{margin-bottom: 0.5rem;}
.dyq-icon{display:inline-block;text-indent:-9999em;background-image:url(../images/sprit1.png);background-repeat: no-repeat;background-size:45rem auto;}
.dyq-icon-top{text-indent: 0;color:#f65d4d;padding-left: 1.8rem;font-size: 1.3rem;line-height: 1;background-position: 0 0;}
.dyq-icon-good{text-indent: 0;color:#46d0c3;padding-left: 1.8rem;font-size: 1.3rem;line-height: 1.1;background-position:-5rem 0;}
.dyq-icon-search{width:2.1rem;height: 2.1rem;background-position: -10rem 0;}
.dyq-icon-comment,.dyq-icon-zan1{text-indent:0;padding-left:2.3rem;height:1.7rem;line-height:1.7rem;position:relative;background: none;}
.dyq-icon-comment:before{content:"";position: absolute;width:1.85rem;height: 1.7rem;top:0;left:0;background: url(../images/sprit2.png) no-repeat 0 0;background-size:45rem auto ;}
.dyq-icon-zan1:before{content:"";position:absolute;top:0;left:0;width:1.7rem;height: 1.7rem;background: url(../images/sprit2.png) no-repeat -5rem 0;background-size: 45rem auto;}
.dyq-icon-zan1.active:before{background-position: -10rem 0;}
.dyq-icon-zan1.active{color: #ff8100;}
.dyq-icon-see-b{background-image: url(../images/sprit3.png);width:2.65rem;height: 3.3rem;background-position: 0 0;}
.dyq-icon-see-b:active,.dyq-icon-see-b.active{background: url(../images/icon7@2x.png) no-repeat 0 0;background-size:10rem auto ;}
.dyq-icon-see-s{background-image: url(../images/sprit3.png);width:2.25rem;height: 2.7rem;background-position: -5rem 0;vertical-align: middle;margin-right: 1rem;}
.dyq-icon-me{background-image: url(../images/sprit3.png);width:3.6rem;height:3.6rem;background-position:-10rem 0;}
.dyq-icon-me:active,.dyq-icon-me.active{background: url(../images/icon7@2x.png) no-repeat -5rem 0;background-size:10rem auto ;}
.dyq-icon-star{background-image: url(../images/sprit2.png);width:2.6rem;height:2.4rem;background-position: -15rem 0;}
.dyq-icon-star.active{background-position:-20rem 0;}
.dyq-icon-reply{background-image: url(../images/sprit2.png);width:2.5rem;height:2.3rem;background-position:-35rem 0;}
.dyq-icon-zan2{background-image: url(../images/sprit2.png);width:2.3rem;height:2.4rem;background-position:-40rem 0;}
.dyq-icon-zan2.active{background: url(../images/icon6@2x.png) no-repeat 0 0;background-size:2.3rem auto;}
.dyq-icon-arrow-down{width:1.4rem;height:0.9rem;background-position:-30rem 0;}
.dyq-icon-gps{background-image: url(../images/sprit2.png);width:1.6rem;height: 2rem;background-position:-25rem 0;}
.dyq-icon-gps.active{background-position:-30rem 0;}
.dyq-icon-img{background-image: url(../images/sprit3.png);width:2.1rem;height: 1.85rem;background-position:-15rem 0;}
.dyq-icon-plate{background-image: url(../images/sprit3.png);width:2rem;height: 2rem;background-position:-20rem 0;vertical-align: middle;margin-right: 1rem;}
.dyq-icon-money{background-image: url(../images/sprit3.png);width:2.2rem;height: 2.1rem;background-position:-25rem 0;vertical-align: middle;margin-right: 1rem;}
.dyq-icon-time{background-image: url(../images/sprit3.png);width:1.8rem;height: 1.8rem;background-position:-30rem 0;}
.dyq-icon-activity{background-image: url(../images/sprit3.png);width:1.8rem;height: 1.8rem;background-position:-35rem 0;}
.dyq-icon-guide{background-image: url(../images/sprit3.png);width:1.6rem;height: 1.9rem;background-position:-40rem 0;}
.dyq-icon-arrow-l{width:0.9rem;height:1.5rem;background-position:-20rem 0;vertical-align: middle;margin-right:0.6rem;}
.dyq-icon-arrow-r{width:0.9rem;height: 1.4rem;background-position:-25rem 0;vertical-align: middle;margin-left:1rem;}
.dyq-icon-back{width:0.9rem;height:1.4rem;background-position:-15rem 0;}
.dyq-icon-check{width:2rem;height: 1.5rem;background-position:-35rem 0;}
.dyq-icon-delete{width:1.5rem;height:1.5rem;background-position:-39.9rem 0;}
/*豆友圈欢迎页面*/
.dyq-welcome{position:relative;width:100%;height:50.3rem;padding-top:3.5rem;background:#feb74f url(../images/bg@2x.png) no-repeat center top;background-size:100% auto;box-sizing: border-box;}
.welcome-back{position:absolute;top:0;left:0;height: 4.4rem;line-height: 4.4rem;font-size: 1.7rem;padding: 0 1rem;box-sizing: border-box;}
.dyq-welcome img{display: block;margin-left:auto;margin-right: auto;}
.mb84{margin-bottom: 4.1rem;}
.mb44{margin-bottom: 2.2rem;}
.mb50{margin-bottom: 2.5rem;}
.dyq-welcome h2{color: #ff8511;font-size: 2rem;}
.dyq-head-img{display: block;width:8.2rem;height: 8.2rem;margin:0 auto 2.4rem;border-radius: 50%;}
.dyq-setname{margin:0 2.7rem 0;font-size: 1.5rem;}
.dyq-setname input{display: block;-webkit-appearance: none;box-shadow: none;outline: none;
	width:100%;height: 4rem;line-height:2rem;border-radius: 5px;font-size: 1.6rem;
 	border:1px solid #ffd56c;padding:1rem 1.5rem;box-sizing: border-box;margin-bottom: .5rem;
}
.dyq-btn{position:fixed;bottom:0;width:100%;font-size:1.9rem;height: 5rem;line-height: 5rem;background:#ff8100;text-align: center;color:#fff;}
.ui-flex-center{display: -webkit-box;-webkit-box-pack: center;}
/*底部菜单*/
.dyq-footer{position: fixed;bottom:0;width:100%;z-index:2;}
.dyq-menu{height: 7rem;display: -webkit-box;-webkit-box-pack: justify;background: #f5f5f5;}
.dyq-menu a{display: block;color: #181818;}
.dyq-menu li{-webkit-box-flex: 1;text-align: center;width:33.33%;padding-top:4rem;position: relative;}
.dyq-menu .dyq-icon{position: absolute;top:0.5rem;left:50%;-webkit-transform: translateX(-50%);}
.dyq-menu .dyq-icon-say{position:absolute;background: #fdb63b;width:5.6rem;height: 5.6rem;color: #fff;line-height: 5.6rem;border-radius: 5.6rem;top:-1.5rem;}
.dyq-icon-say:before{content: "";position: absolute;width:3px;height: 3rem;background: #fff;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);}
.dyq-icon-say:after{content: "";position: absolute;width:3rem;height: 3px;background: #fff;left:50%;top:50%;-webkit-transform: translate(-50%,-50%);}
.dyq-menu .RedDot{width:10px;height:10px;border-radius:10px;top:0.5rem;left:50%;margin-left:1.6rem;}

.dyq-menu-Reply{height:5rem;display: -webkit-box;-webkit-box-pack: justify;background: #f5f5f5;}
.dyq-menu-Reply li{-webkit-box-flex: 1;text-align: center;line-height: 5rem;width:33.33%;}
.dyq-menu-Reply .dyq-icon{display:inline-block;width:2.5rem;height: 2.5rem;margin:0;vertical-align: middle;}
.dyq-menu-Reply em{display: inline-block;vertical-align: middle;}
/*结果页*/
.dyq-result{font-size: 1.6rem;color: #999;padding-top: 15rem;text-align: center;}
.dyq-result img{display: block;margin:0 auto 1.5rem;}
/*暂无帖子*/
.dyq-homepage-h{
	height: 12.5rem;background: url(../images/bg2@2x.png) no-repeat center top;
	background-size:100% auto;padding: 0 3rem;display: -webkit-box;-webkit-box-align: center;}
.dyq-homepage-h img{display: block;width:7rem;height: 7rem;margin-right: 1.5rem;border-radius: 3.5rem;}
.dyq-personal-data{-webkit-box-flex: 1;}
.ui-form-item-switch {position:relative;height: 4rem;line-height: 4rem;padding: 0 1.5rem;}
.ui-switch{right:3.8rem}
.dyq-switch-txt{position:absolute;top:0;right:1.5rem;}
.dyq-posts-sorts{position:relative;height: 4.6rem;line-height:4.6rem;padding: 0 1.5rem;}
.dyq-posts-sorts span{display: inline-block;vertical-align: middle;}
.dyq-posts-no{min-height: 23.8rem;padding-top: 7rem;text-align: center;}
.dyq-posts-no img{display: block;margin:0 auto 1.5rem;}
/*选择地址*/
.dyq-select-list{background: #fff;}
.dyq-select-list li{position:relative;height:4.4rem;line-height:4.4rem;padding: 0 1.5rem;}
.dyq-select-list li.active:after{content: "";position: absolute;top:50%;right:1.5rem;
margin-top:-0.75rem;width:2rem;height: 1.5rem;background:url(../images/sprit1.png) no-repeat -35rem 0;
background-size:45rem auto;}
/*我的收藏列表*/
.dyq-list{background: #fff;}
.dyq-list li{position:relative;display: -webkit-box;padding: 1.5rem;padding-right:5rem;}
.dyq-list-arrow{position: absolute;top:0;right:0;width:5rem;height: 5rem;}
.dyq-list-arrow:after{content: "";position: absolute;top:1.7rem;right:1.5rem;width: 0.9rem;height: 1.4rem;
    background:url(../images/sprit1.png) no-repeat -25rem 0;background-size:45rem auto;}
.user-head{display:block;width:3.5rem;height:3.5rem;margin-right: 1.5rem;border-radius: 50%;}
.dyq-list-info{-webkit-box-flex: 1;text-align: left;}
.dyq-Mycoll-text p{overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:2; }
.line-clamp3 p{-webkit-line-clamp:3;}
.dyq-img{width:100%;clear: both;overflow: hidden;margin-top: 0.5rem;}
.dyq-img div{float:left;width:8rem;height:8rem;margin-right:0.5rem;}
.dyq-img img{display: block;width:8rem;height: 8rem;}
.dyq-img6{width:100%;clear: both;overflow: hidden;}
.dyq-img6 div{float: left;width:8rem;height:8rem;margin-right: 0.5rem;margin-top:0.5rem;display: -webkit-box;}
.dyq-img6 img{display: block;width:8rem;height: 8rem;}
/*帖子列表*/
.ml2{margin-left: 2rem;}
/*搜索*/
.dyq-so-keyword{display: block;border: none;-webkit-appearance: none;outline: none;
width:100%;height: 4.5rem;padding: 0 1.5rem;box-sizing: border-box;}
.dyp-reply-txtframe{display: block;width:100%;padding:1rem 1.5rem;height: 11rem;
border:none;box-sizing:border-box;resize: none;}
.dyq-say-content{background: #fff;position: relative;}
.dyq-select{display: -webkit-box;-webkit-box-pack: justify;}
.dyq-select span{display: inline-block;vertical-align: middle;}
.dyq-select .ui-switch{right:1.5rem;}
.dyq-select .dyq-switch-txt{right: 7.5rem;}
.dyq-edit-icon{padding:1rem 1.5rem;display: -webkit-box;}
.dyq-icon-img{margin-right: 2.2rem;}
.dyq-icon-gps{margin-right: 0.6rem;}
.gps-address{-webkit-box-flex: 1;}
.dyq-edit-img{width:100%;min-height:5.2rem;padding: 0 1.5rem;clear:both;zoom: 1;box-sizing: border-box;}
.dyq-edit-img:after{content:"";clear:both;display: block; height: 0; width: 0; font-size: 0}
.dyq-edit-img.show{display:block;}
.dyq-edit-img li{float:left;width:32%;margin-right:1%;margin-top:0.5rem;border-radius:3px;position: relative;}
.dyq-edit-img img{width:10.2rem;height: 10.2rem;}
.dyq-edit-img .dyq-icon-delete{position: absolute;top:-0.7rem;left:9.45rem;z-index: 2;}
.viewFiles{display: none;}
/*帖子详情*/
.padlr15{padding: 0 1.5rem;}
.dyq-post-Moderator{position:relative;padding: 1.5rem 0 1rem;}
.Delete{position: absolute;right:0;}
.only-Moder{position: absolute;top:1.5rem;right:0;width:7rem;height: 2.4rem;font-size:1.3rem;line-height: 2.4rem;border-radius:1.2rem;
border:1px solid #ff8100;color:#ff8100;text-align: center;box-sizing: border-box;}
.dyq-Moderator-h{display: -webkit-box;margin-bottom:1rem ;text-align: left;}
.dyq-Moderator-h .dyq-icon{margin-left: 0.5rem;font-size: 1.2rem;}
.dyq-Moderator-b{text-align: left;word-break: break-word;padding-left: 5rem;}
.dyq-post-reply{position: relative;display:-webkit-box;padding: 1.5rem 0;}
.dyq-post-reply h2{height:3.5rem;line-height: 3.5rem;}
.dyq-post-reply-txt{-webkit-box-flex: 1;position: relative;}
.arrow-delete{position: absolute;right:0;top:-1.5rem;padding:1.5rem 0 0 1.5rem;height: 3.5rem;line-height: 3.5rem;}
.arrow-delete em{margin-right: 1rem;display: inline-block;vertical-align: middle;}
.arrow-delete .dyq-icon{vertical-align: middle;}
.tips-delete{display:none;position: absolute;width:3.7rem;height: 2.5rem;padding-top:0.5rem;line-height:2rem;top:2.5rem;right:-0.8rem;font-size: 1.4rem;color:#fff;text-align: center;
background: url(../images/icon_delete@2x.png) no-repeat 0 0;background-size: 100% auto;box-sizing: border-box;}
.dyq-post-point{position: absolute;right:0;bottom:0;}
.dyq-post-point .dyq-icon{display: inline-block;vertical-align: middle;min-width: 2rem;}
/*帖子首页*/
.dyq-tab{display: -webkit-box;background: #fff;}
.dyq-tab li{-webkit-box-flex:1;position:relative;color:#555;font-size: 1.7rem;height: 5rem;line-height: 5rem;text-align: center;}
.dyq-tab i,.dyq-tab span{display: inline-block;vertical-align: middle;}
.dyq-tab .dyq-icon{margin-right: 0.5rem;}
.dyq-tab li.active:before{content:"";position: absolute;left:0;bottom:0;width:100%;height: 0.3rem;background: #ff8100;}
.dyq-tab-list{background: #fff;}
.dyq-tab-list-hd{display: -webkit-box;padding:1rem 1.5rem;}
.dyq-tab-list-hd .dyq-icon-top{margin-left: 1.5rem;}
.dyq-tab-list-hd .dyq-icon-good{margin-left: 1.5rem;}
.dyq-tab-list-ft{display: -webkit-box;color: #999;}
.ui-boxflex-1{-webkit-box-flex: 1;width:25%;height: 5rem;display:-webkit-box;-webkit-box-align:center;position: relative;}
.dyq-tab-list-ft .dyq-icon{padding-left:2.8rem;display:inline-block;width:auto;}
.dyq-tab-list-ft .dyq-icon-comment,.dyq-tab-list-ft .dyq-icon-zan1{position: absolute;right:0;top:50%;-webkit-transform: translateY(-50%);}
.dyq-tab-list-ft span{display: inline-block;vertical-align: middle;}

.Field3{display:inline-block;max-width:4.5em;vertical-align: middle;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.loans-tags{display:inline-block;margin-left:0.5rem;vertical-align: middle;border:1px solid #ff9325;color:#ff9325;padding:0 0.2rem;font-size:1.2rem;line-height:1.2;border-radius: 2px;}
/*图片弹出遮罩*/
.Dialog-img{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.85);
  display: none; }
.Dialog-img.show{display: -webkit-box; display: box; }
.Dialog-img img{display: block;}
/*滑动*/
		#wrapper {
			position: absolute;
			z-index: 1;
			top:4.4rem;
			bottom: 5rem;
			left: 0;
			width: 100%;
			overflow: hidden;
		}
		#scroller {
			position: absolute;
			z-index: 1;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			width: 100%;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-text-size-adjust: none;
			-moz-text-size-adjust: none;
			-ms-text-size-adjust: none;
			-o-text-size-adjust: none;
			text-size-adjust: none;
		}
		#pullDown{
            width: 100%;
            height:40px;
			margin-top: -40px;
            line-height:40px;
            vertical-align: middle;
            text-align: center;
        }
		#pullUp{
            width: 100%;
            height:40px;
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
            margin-bottom:-40px;
        }
.ArrowDown{display: inline-block;height:24px;vertical-align: middle;margin-right: .5rem;}
.ArrowUp{display: inline-block;height:24px;vertical-align: middle;margin-right: .5rem;-webkit-transform:rotate(180deg);}
.Load{display: inline-block;height: 24px;vertical-align: middle;margin-right: .5rem;-webkit-animation: loading .6s infinite linear;}
@-webkit-keyframes loading{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
}
.GPS-text{position:relative;padding: 1rem 0 0 0;font-size: 1.4rem;min-height: 2rem;line-height: 2rem;}

/*loading*/
.loading-wrap{
	position: fixed;width:100%;height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	z-index:10;
}
.loading-pic{
	z-index: 99999;
	position: absolute !important;
	background-image:url(../images/loading.png) ;
	background-repeat:no-repeat;
	background-size: 900px auto;
	-webkit-animation: p3BgAnimation steps(9) 1.5s infinite;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top:-50px;
}

.loading-word{
	width:100%;
	text-align:center;
	color:#fff;
	position:absolute;
	z-index:9999;
	top:50%;
	left:0;
	margin-top:50px;
	font-size:14px;
}

@-webkit-keyframes p3BgAnimation {
	  0% {
           background-position: 0 0;
        }
	100%{
		background-position:-900px 0;
	    }
}

pre{white-space: pre-wrap;  word-break:break-word;}
.pre-line1{overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.pre-line2{overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.pre-line3{overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;}
/*我的提醒*/
.Reminder-list .dyq-list-info{padding-left:1.5rem ;}
.RedDot{position: absolute;left:1.5rem;top:2.25rem;width: 8px;height: 8px;border-radius:8px;background:#ff3737;}
.Reminder-list .dyq-Mycoll-text{margin:1rem 0 0.5rem;}
.Homepage-tab{height: 8.2rem;display: -webkit-box;}
.Homepage-tab li{width: 50%;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack:center;-webkit-box-orient: vertical;}
.Homepage-tab li div{position:relative;margin-bottom: 0.8rem;}
.Homepage-tab img{display: block;}
.Homepage-tab li:first-child img{width:2.6rem;height: 2.5rem;}
.Homepage-tab li:last-child img{width:2.3rem;height: 2.7rem;}
.Homepage-tab .RedDot{width:10px;height: 10px;border-radius:10px;top:-0.3rem;left: 2rem;}
/*2017.2.10搜索优化*/
.search-btn{padding: 1rem 0.8rem;background: #f5f5f5;}
.search-btn button{width: 100%;color: #959595;height: 3.8rem;line-height: 3.8rem;background: #FFFFFF;
border: 1px solid #DADBDF;border-radius: 4px;box-sizing: border-box;}
.search-btn button:before{content:'';display: inline-block;width: 1.3rem;height: 1.3rem;vertical-align: middle;margin-right: 0.5rem;background: url(../images/icon_search@2x.png) no-repeat 0 0;background-size: 100% auto;}
.dyq-tab-list-hd{position:relative;}
.loans-tags{position: absolute;color:#fff;font-size: 1.4rem;height: 2.4rem;line-height: 2.4rem;padding: 0 0.5rem;border: 0;
  top: 3.3rem;right: 0;background: #FF9325;border-radius: 2px 0px 0px 2px;}
.dyq-so-keyword{padding-left:3.3rem;background: url(../images/icon_search@2x.png) no-repeat 1.5rem 1.7rem;background-size: 1.3rem 1.3rem;}
.search-labels{padding: 0 1.5rem 0.8rem 1.5rem;}
.search-labels h2{height: 4.6rem;line-height: 4.6rem;color:#ff8100;}
.so-label{overflow: hidden;color: #666;font-size: 1.3rem;}
.so-label div{float:left;width:46%;text-align: center;height: 3.4rem;line-height: 3.4rem;background: #F5F5F5;border-radius: 6px;margin-bottom: 1.2rem;}
.so-label div:nth-child(2n+1){margin-right: 1.2rem;}
.KeywordsList{display:block;position: absolute;top:4.5rem;width: 100%;
  line-height: 4.4rem;background: #fff;box-sizing: border-box;z-index:5;}
.KeywordsList ul{padding-left: 1.5rem;}
.KeywordsList em{color: #F65D4D;}

/*yuanbao*/
.dyq-icon-img{position: relative;overflow: hidden;}
.dyq-icon-img input{position: absolute;top: 0;left: 0;display: inline-block;width: 100%;height: 100%;opacity: 0;}
.dyq-icon-gps{position: relative;overflow: hidden;}
.dyq-icon-gps input{position: absolute;top: 0;left: 0;display: inline-block;width: 100%;height: 100%;opacity: 0;}
